header{
    width:100;
    height:100vh;
}
html{
    scroll-behavior: smooth;
}
nav{
    width:100%;
    height:70px;
    border-bottom:1px solid rgb(235, 163, 163) ;
    box-shadow:2px 0px 5px rgb(235, 163, 163);
    background-color: rgb(87, 172, 205);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 50px;
    font-weight: bold;
    color:rgb(161, 37, 126);
}
.menu a{
    text-decoration: none;
    font-size:20px;
    color:rgb(150, 17, 17);
    padding:10px 20px;
    margin:5px;
    font-weight:bold;
}
.menu a:last-child{
    background:black;
    color:rgb(162, 74, 47);
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    transform-style: preserve-3d;
    transform-origin: center;
    perspective:2000px;
}
.left{
    flex-basis: 50%;
    animation:animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
    
}
.right{
    flex-basis: 50%;
    max-width:400px;
    margin-left: 100px;
}
.right h1{
    font-size: 50px;
}
.right p{
    font-size: 25px;
    margin:20px 0px;
}
button{
    background: black;
    color:white;
    font-weight: bold;
    border:none;
    outline:none;
    padding:10px 20px;
    margin-bottom: 20px;
}

#featured{
    padding: 50px 0px;
    font-size: 30px;
    text-align: center;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(4,20%);
    grid-auto-rows: minmax(200px,auto);
    grid-gap:1em;
    justify-content: center;
	margin-top:10px;
	align-items: center;
    }
    .wrapper>div{
        border:1px solid gray;
        position: relative;
        
    }

    .wrapper> div img{
        width:100%;
        overflow: hidden;
        
    }

    .box1{
        grid-row:1/3;
        grid-column: 1/3;
    }

    .price{
        position:absolute;
        top:0;
        left:0;
        background: black;
        color:white;
        padding: 5px;
        font-size: 20px;
    }
    .wrapper> div img:hover{
        transform:scale(1.2);
        transition:0.4s linear;
    }
    #man{
        padding:80px 0px;
    }
    .man-row{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .man-box{
        flex-basis:15%;
        box-shadow: 2px 3px 5px grey;
        padding:10px;
        text-align: center;
    }
    .man-box img{
        width:100%;
    }
    .man-box h2{
        margin:20px 0px;
        background-color: rgb(13, 107, 107);
        color:black;
    }
    .man-box h3{
        background:pink;
        color:black;
    }

    .man-box:hover{
        transform:translate(-20px);
        transition: 0.4s ease;
    }
#women{
    padding:100px 0px;
}


/*footer section*/
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.main-wrap{
    width: 100%;
    background: white;
}
.footer-wrap{
    position: relative;
    margin-top:120px;
    width:100%;
    padding:40px;
    background: rgb(46, 44, 44);
}
.footer-wrap-1{
    display: flex;
}
.footer-section{
    width:22%;
    display:block;
    padding:10px 35px;
}
.footer-section:last-of-type{
    width:34%;
}
.footer-section p{
    color:white;
    font-size: 16px;
}
.footer-section h1{
    font-size:22px;
    color:white;
    margin-bottom:8px;
}
.footer-section a{
    color:white;;
    display: block;
    text-decoration: none;
    padding:4px 0px;
}
form{
    position:relative;
}
form input{
    position:absolute;
    height:35px;
    width: 220px;
    margin:8px 0px;
    border:none;
    outline:none;
    padding:6px;
    font-size:14px;
}
form .btn{
    height:35px;
    background:rgb(79, 156, 69);
    border:none;
    padding:0px 6px;
    margin:8px 0px;
    position:absolute;
    left:60%;
    font-weight: 600;
    cursor: pointer;
    color:white;
}
.btn:hover{
    background: rgb(107,204,94);
}
.line{
    margin-top:20px;
    width:100%;
    height:1px;;
    background: rgb(143, 142, 142);
}
.social-link{
    padding-top:25px;
    text-align: center;
}
.social-link a{
    text-decoration: none;
    height:26px;
    display: inline-block;
    width:26px;
    padding:5px;
    border-radius:20px;
    margin:5px;
    background: rgb(224, 222, 222);
}
.social-link a img{
    width:14px;
    height:14px;
}
.footer-bottom{
    background: rgb(12, 12, 12);
    width:100%;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom a{
    color:white;
    font-size:14px;
    margin-left:20px;
    text-decoration:none;
}
.first-box{
    margin-left: 20px;
}
.last-box{
    margin-right:20px;
}

    
    